inline_asm/demo/obj/*
inline_asm/demo/bin/*

macros/*.out

nCurses/*.out

nCurses/demo/bin/*
nCurses/demo/obj/*
nCurses/demo/err.log
nCurses/demo/output.txt

output_redirect/*.out
output_redirect/log.txt

inotify/*.out
